@model RFID_tracking_web_MVC.Weapon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Weapon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FriendlyName" class="control-label"></label>
                <input asp-for="FriendlyName" class="form-control" />
                <span asp-validation-for="FriendlyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RfidTag" class="control-label"></label>
                <input asp-for="RfidTag" class="form-control" />
                <span asp-validation-for="RfidTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<WeaponStatus>()">
                    <option selected="selected" value=""></option>
                </select>
                @Html.ValidationMessageFor(model => model.Status)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
