@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul>
    <li>
        <a asp-area="" asp-controller="Director" asp-action="Index">Bestyrelsesmedlemmer</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Weapon" asp-action="Index">Våben</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Shooter" asp-action="Index">Skytter</a>
    </li>

</ul>