@{
    ViewData["Title"] = "Index";
}

<h2>Redigering</h2>
<ul>
    <li>
        <a asp-area="" asp-controller="Director" asp-action="Index">Bestyrelsesmedlemmer</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Weapon" asp-action="Index">Våben</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Shooter" asp-action="Index">Skytter</a>
    </li>
</ul>

<h2>Oversigt</h2>
<ul>
    <li>
        <a asp-area="" asp-controller="LiveReader" asp-action="Index">Live tags</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Loan" asp-action="Index">Aktive udlån</a>
    </li>
</ul>
