@model RFID_tracking_web_MVC.Loan

@{
    ViewData["Title"] = "Confirmation";
}


<div class="p-5 min-vh-100" style='background: #@(ViewBag.Weapon.Status != WeaponStatus._1 ? "33C827" : "274CC8")'>
    <h1 class="d-flex justify-content-center" style="font-size:5vw">
        @ViewBag.Weapon.FriendlyName
        @if (ViewBag.Weapon.Status == WeaponStatus._1) {
            <br />
            <text>er nu i boksen</text>
        } else {
            <br />
            <text>er nu udlånt til</text>
            <br />
            @ViewBag.Shooter.Name
        }
    </h1>
    <a asp-action="Index" style="text-decoration:none">
        <i class="fa-solid fa-square-check text-white m-2 d-flex justify-content-center" style="font-size:30vh"></i>
    </a>
</div>

<script src="https://kit.fontawesome.com/4dc74b3398.js" crossorigin="anonymous"></script>