@model IEnumerable<RFID_tracking_web_MVC.Models.PanelHomeElement>;


@foreach (var item in Model) {
    @if (item.WeaponStatus != WeaponStatus._1) {
        if (item.WeaponName == "Ukendt!") {
            <div class=" bg-white m-5 p-3 d-flex justify-content-center" style="border-radius: 15px">
                <div style="font-size:3vw">Ukendt!</div>
            </div>
        } else {

            <div class="bg-white m-5 p-3 d-flex justify-content-center " style="border-radius: 15px">

                <div class="align-self-start text-center ">
                    @Html.ActionLink(item.WeaponName, "ConfirmationIn", new { weaponId=item.WeaponId }, new { @style="font-size:3vw; text-decoration:none", @class="text-black align-self-start" })
                    <div>
                        @Html.DisplayFor(modelItem => item.ShooterName)
                    </div>
                </div>
            </div>
        }
    }
}


@foreach (var item in Model) {
    @if (item.WeaponStatus == WeaponStatus._1) {
        if (item.WeaponName == "Ukendt!") {
            <div class=" bg-white m-5 p-3 d-flex justify-content-center" style="border-radius: 15px">
                <div style="font-size:3vw">Ukendt!</div>
            </div>
        } else {

            <div class="bg-white m-5 p-3 d-flex justify-content-center " style="border-radius: 15px">

                <div class="align-self-start text-center ">
                    @Html.ActionLink(item.WeaponName, "SpecifyUser", new { weaponId=item.WeaponId }, new { @style="font-size:3vw; text-decoration:none", @class="text-black align-self-start" })
                    <div>
                        @Html.DisplayFor(modelItem => item.ShooterName)
                    </div>
                </div>
            </div>
        }
    }
}

