@model List<RFID_tracking_web_MVC.Models.PanelHomeElement>;
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid w-100">
    <div class="row">
        <div class="col mx-2 p-3 min-vh-100" style='background: #274CC8'>

            <div class="row mt-2 text-white">
                <div class="col-2">
                    <a asp-action="List" asp-route-inSafe="False">
                        <i class="fa-regular fa-rectangle-list text-white m-2" style="font-size:3vw"></i>
                    </a>
                </div>
                <div class="col">
                    <h1 class="text-center" style="font-size:3vw" ">På vej ind i boksen</h1>
                </div>
            </div>

            <div id="tabelsIn">
                    @Html.Partial("HomeTabels", Model.Where(x => x.WeaponStatus != WeaponStatus._1))
            </div>
        </div>
        <div class="col mx-2 p-3 min-vh-100" style='background: #33C827;'>

            <div class="row mt-2 text-white">
                <div class="col">
                    <h1 class="text-center" style="font-size:2.9vw" ">På vej ud af boksen</h1> 
                </div>
                <div class="col-2 ">
                    <a asp-action="List" asp-route-inSafe="True">
                        <i class="fa-regular fa-rectangle-list text-white m-2" style="font-size:3vw"></i>
                    </a>
                </div>

            </div>

            <div id="tabelsOut">
                @Html.Partial("HomeTabels", Model.Where(x => x.WeaponStatus == WeaponStatus._1))
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/4dc74b3398.js" crossorigin="anonymous"></script>