@model RFID_tracking_web_MVC.Models.PanelHomeViewModel;
@{
    ViewData["Title"] = "Home";
}

<div class="container; w-100">
    <div id="tabels">
        @Html.Partial("HomeTabels", Model)
    </div>
</div>

