@model List<RFID_tracking_web_MVC.Models.RegularUsersViewModel>

@{
    ViewData["Title"] = "SpecifyUser";
}
<div class="p-5 min-vh-100" style='background: #33C827'>

    <h1 style="font-size:5vw">
        <a asp-action="Index" style="text-decoration:none">⬅️</a>
        @ViewBag.Weapon.FriendlyName udlånes til
    </h1>


    @for (int i = 0; i < Model.Count(); i += 2) {
        <div class="row">
            @{
                var item = Model[i];
            }
            <div class="bg-white m-4 mx-5 p-3 d-flex justify-content-center col" style="border-radius: 15px">

                <div class="align-self-start text-center ">
                    @Html.ActionLink(item.Shooter.Name, "Confirmation", new { userId=item.Shooter.Id, weaponId=item.Weapon.Id }, new { @style="font-size:3vw; text-decoration:none", @class="text-black align-self-start" })
                </div>
            </div>

            @if (Model.Count() != i + 1) {
                item = Model[i + 1];
                <div class="bg-white m-4 mx-5 p-3 d-flex justify-content-center col" style="border-radius: 15px">

                    <div class="align-self-start text-center ">
                        @Html.ActionLink(item.Shooter.Name, "Confirmation", new { userId=item.Shooter.Id, weaponId=item.Weapon.Id }, new { @style="font-size:3vw; text-decoration:none", @class="text-black align-self-start" })
                    </div>
                </div>
            } else {
                <div class="col m-4 mx-5 p-3">
                </div>
            }

        </div>

    }

    <div class="bg-white m-4 mx-5 p-3 d-flex justify-content-center col" style="border-radius: 15px">

        @using (Html.BeginForm("SpecifyUser", "Panel", FormMethod.Get, new { weaponId = (ViewBag.Weapon as Weapon).Id })) {
            <p>
                Søg skyttenummer eller navn: @Html.TextBox("searchString")
                <input type="submit" value="Søg" />
            </p>
        }
    </div>

</div>